ASPNETCORE_ENVIRONMENT=Development

ConnectionStrings__CatalogDb=
ConnectionStrings__BasketDb=
ConnectionStrings__OrderingDb=
ConnectionStrings__OrderingSagaDb=
ConnectionStrings__InventoryDb=
ConnectionStrings__PaymentDb=
ConnectionStrings__ShippingDb=
ConnectionStrings__NotificationDb=
ConnectionStrings__IdentityDb=

Redis__ConnectionString=

RabbitMq__Host=
RabbitMq__Port=5671
RabbitMq__Username=
RabbitMq__Password=
RabbitMq__VirtualHost=
RabbitMq__UseSsl=true
RabbitMq__ConnectionString=

Cloudinary__CloudName=
Cloudinary__ApiKey=
Cloudinary__ApiSecret=

Auth__Authority=
Auth__Audience=
Auth__RequireHttpsMetadata=true
Auth__RoleClaimType=https://ecommerce.local/claims/roles

RuntimeChecks__Auth0ClientId=
RuntimeChecks__Auth0ClientSecret=
RuntimeChecks__AccessToken=

ShippingProvider__RejectedPostalCodes__0=00000

Observability__ServiceNamespace=ECommerce
Observability__OtlpEndpoint=
Observability__RedactionEnabled=true
OTEL_EXPORTER_OTLP_ENDPOINT=
OTEL_EXPORTER_OTLP_PROTOCOL=
OTEL_EXPORTER_OTLP_HEADERS=
